#sideDrawer{
    position: fixed;
    top : 92px;
    right: -250px;
    transition: 0.5s ease;
    border-left: 1px solid gray;
    overflow: scroll;
    
}
#sideDrawerButton{
    transition: 0.5s ease;
}
#sideDrawer ul{
    padding: 10px;
    height: 95vh;
}
#sideDrawer li{
    padding: 10px;
    padding-right: 70px;
    width: 200px;
}


details li:hover{
    background-color: antiquewhite;
}